name: OATS Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/oats-tests.yml
      - mise.toml
      - .mise/tasks/oats-tests.sh
      - 'logging-k8s-stdout-otlp-json/**'
      - 'javaagent-declarative-configuration/**'
      - 'doc-snippets/extensions-minimal/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  acceptance-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-read-only: ${{ github.event_name == 'pull_request' }}

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Run OATS tests
        run: mise run oats-tests
