name: Prometheus Test

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/prometheus-test.yml
      - .github/scripts/prometheus-test.sh
      - 'prometheus/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  acceptance-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-read-only: ${{ github.event_name == 'pull_request' }}

      - name: Run Prometheus test
        run: .github/scripts/prometheus-test.sh
