name: Prometheus Test

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/prometheus-test.yml
      - .github/scripts/prometheus-test.sh
      - 'prometheus/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  acceptance-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          cache-read-only: ${{ github.event_name == 'pull_request' }}

      - name: Run Prometheus test
        run: .github/scripts/prometheus-test.sh
